
<div class="container" *ngIf="isLoadedFlg">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      <div class="form-group">
        <select class="form-select" aria-label="Default select example" (change)="changeView($event)">
          <option value="all" selected>All Category</option>
          <option *ngFor="let category of categories" [value]="category">{{
            category
            }}</option>
        </select>
      </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-12 col-md-4 col-lg-3">
      <div class="form-group">
        <input
          type="text"
          [(ngModel)]="search"
          (ngModelChange)="filterData($event)"
          class="form-control"
          placeholder="Search"
        />
      </div>
    </div>
  </div>
  <br />
  <div class="row list-background" *ngIf="filteredData?.length != 0">
    <div *ngFor="let data of filteredData | sort ">
      <div *ngIf="data.isbn">
        <ul class="list-group">
          <li class="list-group-item" aria-current="true">
            <div class="row">
              <div class="col-md-4">{{ data.name }}</div>
              <div class="col-md-4">{{ data.authors[0] }}</div>
              <div class="col-md-4" style="text-align: right">
                <a class="btn btn-outline-danger btn-sm"
                  [routerLink]="['/book', data.url.split('/').pop()]"
                >View</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div *ngIf="data.gender">
        <ul class="list-group">
          <li class="list-group-item" aria-current="true">
            <div class="row">
              <div class="col-md-4">{{ data.aliases }}</div>
              <div class="col-md-4">{{ data.gender }}</div>
              <div class="col-md-4" style="text-align: right">
                <a class="btn btn-outline-danger btn-sm"
                  [routerLink]="['/character', data.url.split('/').pop()]"
                >View</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div *ngIf="data.region">
        <ul class="list-group">
          <li class="list-group-item" aria-current="true">
            <div class="row">
              <div class="col-md-4">{{ data.name }}</div>
              <div class="col-md-4">{{ data.region }}</div>
              <div class="col-md-4" style="text-align: right">
                <a class="btn btn-outline-danger btn-sm"
                  [routerLink]="['/house', data.url.split('/').pop()]"
                >View</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <br />
    </div>
  </div>
</div>
<br><br>
