/* You can add global styles to this file, and also import other style files */
/*@import './assets';*/

body {
  background-image: url('./assets/got.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  /*opacity: 0.3;*/

}
